# Python
__pycache__/
*.pyc
venv/
.env

# Model weights (download separately)
weights/**/*.pt

# Videos & media
*.avi
*.png
*.jpg

# Output files
*.json
*.csv
results/
highlights/

# Notebooks
*.ipynb

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Training artifacts
TrackNet/
dataset/
runs/
train/
models/

# Logs
*.log
